/* cuprum-regular - latin */
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cuprum-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Cuprum Regular'), local('Cuprum-Regular'),
         url('../fonts/cuprum-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cuprum-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cuprum-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cuprum-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cuprum-v11-latin-regular.svg#Cuprum') format('svg'); /* Legacy iOS */
  }
  /* cuprum-italic - latin */
  @font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/cuprum-v11-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Cuprum Italic'), local('Cuprum-Italic'),
         url('../fonts/cuprum-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cuprum-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cuprum-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cuprum-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cuprum-v11-latin-italic.svg#Cuprum') format('svg'); /* Legacy iOS */
  }
  /* cuprum-700 - latin */
  @font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/cuprum-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Cuprum Bold'), local('Cuprum-Bold'),
         url('../fonts/cuprum-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cuprum-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cuprum-v11-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cuprum-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cuprum-v11-latin-700.svg#Cuprum') format('svg'); /* Legacy iOS */
  }

  /* pt-sans-regular - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('PT Sans'), local('PTSans-Regular'),
         url('../fonts/pt-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-sans-v11-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
  }
  /* pt-sans-700 - latin */
  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local('PT Sans Bold'), local('PTSans-Bold'),
         url('../fonts/pt-sans-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-sans-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-v11-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-sans-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-sans-v11-latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
  }

 html {
    box-sizing: border-box;
  }

  * {
      box-sizing: inherit;
  }


body {
    background-color: #fff;    
    font-family: Cuprum, sans-serif;
    font-weight: normal;
    font-stretch: normal;   
    letter-spacing: normal;  
    text-align: left; 
    font-size: 18px;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    
}

.wrapper .site-navigation {
    display: flex;
    justify-content: space-around;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;    
  }

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.main-header {
    background-color:#f4f7f9;
    padding-bottom: 30px;
   
    /* какой тут паддинг? */
}

.header-up {
    background-color:#293449;
    margin-bottom: 46px;
}

.header-down {    
    margin-bottom: 46px;
   }

.header-up .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-down .container {
    display: flex;
    justify-content: space-between;
}

.logo-top {
    width: 220px;
    height: 47px;
    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}


.logo-bottom {
    width: 220px;
    height: 68px;
    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.header-up a {
    color: #ffffff;  
    font-size: 17px;  
    line-height: 1.06;
    
  }

.info {
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;     
}

.phone-number {
   color: #ee3643;
  font-size: 21px;
  line-height: 21px;  
}

.adress{   
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #32425c;
}

.header-down ul{
    list-style: none;
}

.button {
    text-transform: uppercase;
    background-color: #ee3643;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding: 14px;
    width: 253px;
    height: 38px;
    border-radius: 4px; 
}

.login, .register {
    background-color: #fff;
    font-size: 21px;
    line-height: 21px;
    color:  #000000;
    width: 121px;
    height: 45px;
    padding: 14px;
    position: relative;
}

.loged {
    background-color: #fff;
    font-size: 21px;
    line-height: 21px;
    color:  #000000;
    padding: 14px;
    margin-bottom: ;
}

.login::before {
    width: 20px;
    height: 17px;   
    content: "";
    background: url("../img/icon-login.svg") no-repeat; 
    position: absolute;   
    left: -10px;
}

.loged::after{   
    width: 20px;
    height: 17px;
    content: url("../img/icon-login.svg");  
}

.loged::before{   
    width: 20px;
    height: 17px;
    content: url("../img/icon-user.svg");
  
}
.site-navigation{
    font-size: 17px;
    line-height: 17px;    
    background-color: #32425c;  
    padding: 20px 31px;  
}
.site-navigation ul{
    list-style: none;
}

.site-navigation a{
    color: #ffffff;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;    
    font-stretch: normal;
    font-style: normal;   
    letter-spacing: normal;
}

.index-columns p {
    font-family: PT Sans, sans-serif;
    font-size: 13px;  
    line-height: 1.85;  
}

.about  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about ul {
    list-style: none;
    font-weight: bold;
    font-size: 18px;
}

.popular-brands__list {
margin-block-start: 0;
margin-block-end: 0;
list-style: none;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.popular-brands__list a {
    width: 220px;
    height: 145px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;   
    margin-bottom: 20px;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.service {
    background-color: #f4f7f9;
    margin-bottom: 82px;
}

.service h3{
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: normal;
    font-weight: normal;
    padding: 68px 0 29px;  
}

.service h4 {
    font-size: 36px;
    line-height: 1.43;
    text-transform: uppercase;
    color: #32425c;
    font-weight: normal;
}

.service p {
    font-family: PT Sans, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;          
}

.service-buttons {
    display: flex;
    flex-direction: column;
 
}

.service .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.delivery {
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
    background-position: bottom right;
  
}


.garanty {
    display: none;
    background-image: url("../img/guarantee.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}   

.credit {
    display: none;
    background-image: url("../img/credit.jpg.png");
    background-repeat: no-repeat;
    background-position: bottom right;    
}



.service__back {
    width: 240px;
    height: 61px;
    background-color: #32425c;
    color: #fff;
    font-weight: bold;
}

.service__active {
    background-color: #fff;
    color: #32425c;
}


.search label:before{
    content: url(../img/icon-search.svg);    
}


.offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
    font-size: 14px;  
    margin-top: 59px; 
    margin-bottom: 53px; 
    color: #ffffff;
}

.offers__column {
    display: flex;
    flex-direction: column;
}

.offers h2 {
    font-size: 24px;
}

.offers__button {
    width: 135px;
    height: 38px;
    opacity: 0.1;
    background-color: #000000;
    text-transform: uppercase;
}
   


.carousel {
    background-image: url(../img/carousel.png);
    background-repeat: no-repeat;
    width: 620px;
    height: 266px;
    color: #ffffff;
    font-size: 18px;
}

.carousel h2 {
    font-size: 36px;
}

.category {
    width: 300px;
    height: 123px;
    margin-bottom: 20px;  
   
}

.category:nth-of-type(1) {
    background-color: #ffbf47;
    background-image: url(../img/icon-1.svg);    
    background-repeat: no-repeat;    
}

.category:nth-of-type(2) {
    background-color: #3bbce3;
}

.category:nth-of-type(3) {
    background-color: #dc91d8;
}

.offers__column div:nth-of-type(1) {
    background-color: #8ed78f;
    width: 300px;
    height: 123px;
    margin-bottom: 20px;  
}

.offers__column div:nth-of-type(2) {
    background-color: #ffbf47;
    width: 300px;
    height: 123px;
    margin-bottom: 20px;  
}

.popular-goods, .popular-brands  {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    background-color: #f9f5f0; 
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 21px;
    }

.popular-goods h2 {
    font-size: 30px;
    line-height: 1;
}

.items__list {
    display: flex;
    justify-content: space-between;  
    margin-bottom: 21px;
}

.items__list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    border: 1px solid #e5e5e5;
    width: 220px;
    height: 318px;
}

.items__list-item img {   
    order: -1;
}


.linethrough {
    text-decoration: line-through;
    color: #999999;
}

.feedback-button {
    text-transform: uppercase;
    background-color: #ee3643;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding: 14px;
    width: 300px;
    height: 38px;
    border-radius: 4px; 
}

.company-button {
    text-transform: uppercase;
    background-color: #ee3643;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding: 14px;
    width: 220px;
    height: 38px;
    border-radius: 4px; 
}


.footer-up{
    background-color:#32425c;
    color: #ffffff;
}

.footer-down {
    background-color:#293449;

}


.footer-nav {
    list-style: none;
    display: flex;
    justify-content: space-around;    
    width: 60%;
}

.footer-up .container-top {
    display: flex;
    justify-content: space-between;
}

.footer-up .container-bottom {
    display: flex;
    justify-content: space-between;
}

.footer-down .container {
    display: flex;
    justify-content: space-between;
}

.social__list {
    display: flex;
    justify-content: space-around;  
    list-style: none;
    outline: 1px solid white;
}

.copyright {
    display: flex;
    justify-content: space-between;
}

.wheat {     
    line-height: 1.333;
    color: #e4be7b;
}

.footer-down {
    color: #ffffff;
    font-size: 16px;
}



.modal-feedback {
    font-weight: bold;
    outline: 1px solid red;
    width: 620px;
    height: 430px;
    margin: 0 auto;    
    padding: 74px 80px 37px;   
    border-top: 7px solid #ee3643;
}

.modal-feedback input {
    width: 220px;
    height: 38px;
    padding: 15px;
    border: solid 2px #dee3e4;
    background-color: #ffffff
}

.modal-feedback textarea {
    padding-top: 13px;
    padding-left: 16px;
    width: 460px;
    height: 114px ;
    border: solid 2px #dee3e4;
    background-color: #ffffff
}

.modal-feedback input::placeholder , .modal-feedback textarea::placeholder{
    font-size: 13px;
    font-family: PT Sans, sans-serif;
}

.modal-map {
    margin: 0 auto;
    width: 940px;
    height: 446.2px;
}

/* Каталог */


.user {
    display: flex;
}


.user-menu a {
    text-decoration: underline;
    font-size: 16px;
    line-height: 1.13;
    color: #32425c;
}



.breadcrumbles {
    list-style: none;
    font-family: PT Sans, sans-serif;
    font-size: 13px;    
    margin-top: 25px;
    display: flex;
}

.breadcrumbles li {
    margin-right: 40px;
}


.page-title {
  font-size: 30px;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
}


.filters {
    font-family: PT Sans, sans-serif; 
    font-size: 17px; 
    text-transform: uppercase;  
    width: 220px;
    display: flex;
    flex-direction: column;
}

.filters div{
    margin-bottom: 25px;
}

.filters__range {
    background-color:#f7f3ec;
}

.button-show {
    width: 140px;
    height: 38px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
}

.container-right{
    width: 700px;
    min-height: 1202px;
}


.filters h2 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.76;
}

.filters__brand, .filters__supply {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.filters__filter {
    background-color: #f7f3ec;
}

.sorting {
    font-family: PT Sans, sans-serif; 
    font-size: 13px; 
    text-transform: uppercase;
    background-color: #f7f3ec;
    display: flex;      
    align-items: baseline;
    justify-content: space-between;
}

.sorting__list {
    list-style: none;
    display: flex;    
    justify-content: space-around;
    outline: 1px solid red;  
}



.search input[type="text"]{
    background-color: #293449;
}

.search input[type="text"]::placeholder{
  color: #ffffff;
   font-size: 17px;
  line-height: 1.06;
}

input[type="checkbox"] {    
    -webkit-appearance: none;
    border: none;
    width: 25px;
    height: 25px;
    background: url(../img/checkbox-off.svg) left center no-repeat;    
    background-size: 20px;     
}

input[type="checkbox"]:checked {    
    -webkit-appearance: none;
    border: none;
    width: 25px;
    height: 25px;
    background: url(../img/checkbox-on.png) left center no-repeat;    
    background-size: 20px; 
}

input[type="radio"] {    
    -webkit-appearance: none;
    border: none;
    width: 25px;
    height: 25px;
    background: url(../img/radio-off.svg) left center no-repeat;    
    background-size: 20px; 
}

input[type="radio"]:checked {
    background: url(../img/radio-on.svg) left center no-repeat;
    width: 25px;
    height: 25px;
    background-size: 20px; 
    -webkit-appearance: none;
    border: none;
}

.sort-list-down:before{
    content: url(../img/icon-down-dir.svg);
}

.sort-list-up:before {
    content: url(../img/icon-up-dir.svg);
}

.by-list-active{
    color: red;
}


.items {
    font-family: PT Sans, sans-serif;
    font-size: 17px;
    font-weight: bold;  
}

.items h3{
    font-size: 18px;
}

.items__list {
    list-style: none;
}

.catalog {
    font-family: PT Sans, sans-serif;
    font-size: 17px;
    font-weight: bold;  
}

.catalog-header{     
    background-color: #f2f6f8;
    padding-left: 28px;
    padding-top: 30px;
    padding-bottom:30px;
    font-weight: 400;
    font-style: normal;
}

.catalog h3 {
    font-size: 18px;
}

.catalog__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    margin-bottom: 21px;
}

.catalog__list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    border: 1px solid #e5e5e5;
    width: 220px;
    height: 318px;
}

.pagination {
    font-family: PT Sans, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    list-style: none;
    display: flex;    
    outline: 1px solid red;    
}

.pagination li {
    width: 38px;
    height: 38px;
    border-radius: 4px;
    margin-right: 10px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
}

.pagination .folowing {
    width: 140px;    
}

.pagination .active-page{
    background-color: red;
    color: #fff;    
}

.catalog-about {
    font-family: PT Sans, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    background-color: #f4f7f9;
}

.catalog-about h2 {
    font-weight: normal;
    text-transform: uppercase;
}
