
/* Шрифты */

/* cuprum-regular - latin */
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cuprum-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Cuprum Regular'), local('Cuprum-Regular'),
         url('../fonts/cuprum-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cuprum-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cuprum-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cuprum-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cuprum-v11-latin-regular.svg#Cuprum') format('svg'); /* Legacy iOS */
  }
  /* cuprum-italic - latin */
  @font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/cuprum-v11-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Cuprum Italic'), local('Cuprum-Italic'),
         url('../fonts/cuprum-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cuprum-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cuprum-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cuprum-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cuprum-v11-latin-italic.svg#Cuprum') format('svg'); /* Legacy iOS */
  }
  /* cuprum-700 - latin */
  @font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/cuprum-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Cuprum Bold'), local('Cuprum-Bold'),
         url('../fonts/cuprum-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cuprum-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cuprum-v11-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cuprum-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cuprum-v11-latin-700.svg#Cuprum') format('svg'); /* Legacy iOS */
  }

  /* pt-sans-regular - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('PT Sans'), local('PTSans-Regular'),
         url('../fonts/pt-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-sans-v11-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
  }
  /* pt-sans-700 - latin */
  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local('PT Sans Bold'), local('PTSans-Bold'),
         url('../fonts/pt-sans-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-sans-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-v11-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-sans-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-sans-v11-latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
  }

  /* Общие */

 html {
    box-sizing: border-box;   
  }

  *, *::before, *::after {
      box-sizing: inherit;
  }

  img {
    max-width: 100%;
  }

body {  
    margin: 0;
    padding: 0;
    background-color: #fff;    
    font-family: 'Cuprum', sans-serif;
    font-weight: normal;
    font-stretch: normal;   
    letter-spacing: normal;  
    text-align: left; 
    font-size: 18px;
}


.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;    
    margin: -1px; 
    font-size: 0;   
  }
  

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
    }

.site-navigation{ 
    display: flex;
    justify-content:  space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 940px;     
    padding:0;
    margin: 0;  
    font-size: 0;    
    line-height: 1px;    
    background-color: #32425c; 
    margin: 0; 
    padding: 0 20px;
    text-align: center;
    box-shadow: inset 0px -5px 0 0 #293449;    
    margin-bottom: 60px;
}

.site-navigation a{
    font-size: 17px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    color: #ffffff;   
    padding: 28px 30px 31px;   
}

.site-navigation a:hover{
    background-color: #293449;
}

.site-navigation a:active{
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
}


/* Header */

.main-header {
    background-color:#f4f7f9;  
    overflow: hidden;   
}

.main-header__up {
    background-color:#293449;    
    height: 42px;
    margin-bottom: 46px;
}

.main-header__up .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__up a {
    color: #ffffff;  
    font-size: 17px;  
    line-height: 1.06;    
  }

  .main-header__up-actions {
    display: flex;
  }

.bookmarks,
.basket,
.order {   
    position: relative;    
    width: 150px;
    height: 42px;
    text-align: center;    
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-align: left; 
    white-space: nowrap;     
}

.bookmarks {
    padding: 12px 27px 13px 44px ;       
}

.order {
    background-color: #63a63e;  
    padding: 12px 22px 12px 20px ;       
}

.basket {
    padding: 12px 25px 13px 50px ; 
}

.basket-active {
    background-color: #ee3643;   
}


.order:hover {
    background-color: #5fbb2d;
}

.order:active {
    background-color: #518534;
}

.icon {
    position: absolute;    
}

.main-header__up  .icon {
    fill: #ffffff;  
    opacity: 0.3; 
}

.search input[type="text"]:focus + .icon {
    fill: #ee3643;
    opacity: 1; 
}

.bookmarks .icon {
    top: 12px;
    left: 17px;
}

.basket .icon {
    top: 12px;
    left: 18px;    
}

.search {
    position: relative;
    height: 42px;    
    margin-right: auto;
    flex-grow: 1;
}

.search-label svg{
    position: absolute;
    top: 12px;
    left: 17px;
    z-index: 20;
    width: 20px;
    height: 20px;        
    cursor: pointer;
}

.search input[type="text"]{   
    border: none;
    background-color: #293449;
    width: 100%;
    padding: 11px 10px 10px 49px;
    cursor: pointer;  
    color: #ffffff;
}

.search input[type="text"]::placeholder{
  color: #ffffff;
  font-size: 17px;
  line-height: 1.06;
}

.search:hover input[type="text"],
.bookmarks:hover,
.basket:hover {
    background-color: #212a3a;
}

.search input[type="text"]:focus  {
    background-color: #fff;  
    color: #000;
}

.search input[type="text"]:focus::placeholder{    
    color: #000;
}


.search:hover .icon,
.bookmarks:hover .icon,
.basket:hover .icon{
     opacity: 1;
 }


.bookmarks:active .icon,
.basket:active .icon{
     opacity: 0.3;
 }



.bookmarks:active,
.basket:active {
    background-color: #161d29; 
}


.main-header__up-logo {
    width: 220px;
    height: 42px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
    display: inline-block;
    vertical-align: middle;
    padding: 13px 55px 15px 56px;
}

.main-header__up-logo:hover{
    background-color: #ca2c37;
}

.main-header__up-logo:active{
    background-color: #ba2732;
}


.main-header__down .container {
    display: flex; 
    margin-bottom: 39px;   
  }

.main-header__down {    
    margin-bottom: 59px;
   }
  
.main-header__down ul{
    list-style: none;
}

.main-header__down-info {  
    color: #ee3643;
    font-size: 16px;
    width: 196px;
    line-height: 23px;
    font-style: italic; 
    margin-top: 3px;
    margin-left: 52px;
    margin-right: 71px;

}

.nowrap {
    white-space: nowrap;
}

.main-header__down-phone-number {
  position: relative;
   padding: 10px 46px 10px 72px;
  color: #ee3643;
  font-size: 21px;
  line-height: 1; 
  border: 3px solid #ffffff;
  width: 270px;
  height: 45px;   
  margin-bottom: 5px;
}


.main-header__down-phone-number::before {
    content: "";
    position: absolute;
    top: 13x;
    left: 15px;
    width: 19px;
    height: 19px;
    background: url(../img/icon-phone.svg) no-repeat;  
}

.adress{      
    display: inline-block; 
    vertical-align: middle;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #32425c;   
    width: 270px;
    margin-left: 2px;
    white-space: nowrap;
}

.main-header__down-user {  
    display: flex;  
}

.login, .register {
    position: relative;
    background-color: #fff;
    font-size: 21px;
    line-height: 21px;
    color:  #000000;
    width: 121px;
    height: 45px;    
    position: relative;    
}

.login {
    position: relative;
    width: 121px;
    height: 45px;
    margin-left: 69px;
    margin-right: 10px;
    padding: 12px 27px 12px 48px ;
}

.register {    
    width: 150px;
    height: 45px;
    padding: 12px 25px 12px 25px ;
}

.login .icon{    
    left: 14px;
    top: 14px;
    width: 20px;
    height: 17px;
    fill: #c5c5c5;
}

.login:hover,
.register:hover {
    color: #ee3643;
}

.login:active,
.register:active {
    color:rgba(0, 0, 0, 0.3);
} 

.login:hover svg{
    fill: #32425C;
}

.login:active svg{
    fill: rgba(0, 0, 0, 0.3);
    }


/* Кнопки */


.button {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #ee3643;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    padding: 14px;   
    border-radius: 4px; 
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.button-show {
    width: 140px;
    height: 38px;
    font-size: 13px;
    text-transform: uppercase;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
    margin-top: 58px;
    border-radius: 3px;
    cursor: pointer;
}

.button-close {
    position: absolute;
    top: 9px;
    right: 9px;
    width: 21px;
    height: 21px;
    border: none;
    background-color: transparent;
    background-image: url(../img/form-close.png);
    cursor: pointer;
}


.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 86px;
}

.index-columns h2 {
    font-size: 30px;
    line-height: 30px;
    margin: 0;     
    margin-bottom: 38px;
    font-weight: normal;    
    font-stretch: normal;
    font-style: normal;   
    letter-spacing: normal;
    text-transform: uppercase;
}

.index-columns p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;  
    line-height: 1.85;  
    margin:0;
}

.about  {   
    width: 528px;
    min-height: 362px;
}

.about>p:first-of-type{   
    margin-bottom: 36px;
}

.contacts {   
  width: 300px;
  min-height: 367px;
  
}

.contacts>p:first-of-type{
    margin-bottom: 36px;
}

.map-back {
    position: relative;
    margin: 0;
    padding: 0; 
    margin-bottom: 40px;
}

.feedback-button {
    margin-top: 40px;
}

.about ul {
    list-style: none;
    font-weight: bold;
    font-size: 18px;
}

.about__list-info {
    margin-bottom: 37px;
}

.about__list-info li {
 position: relative;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 24px;
}

.about__list-info li::before {
    content: '';
    position: absolute;
    left: -36px;
    top: 8px;
    display: block;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
  }

.popular-brands__list {
margin-block-start: 0;
margin-block-end: 0;
list-style: none;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-bottom: 65px;

}

.popular-brands__list a {
    width: 220px;
    height: 145px;
    border: solid 1px #eaeaea;
    background-color: #ffffff;   
    margin-bottom: 20px;
    display: flex;  
    justify-content: center;
    align-items: center;
    
}

.popular-brands__list a:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-brands__list a:active {  
    opacity: 0.3;
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}


.service {
    background-color: #f4f7f9;
    padding-top: 68px;
    margin-bottom: 82px;    
}

.service .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
}

.service h3 {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: normal;
    font-weight: normal;
    margin: 0; 
}

.service h4 {
    font-size: 36px;
    line-height: 1.43;
    text-transform: uppercase;
    color: #32425c;
    font-weight: normal;
    margin: 0;
}

.service pre {
    font-family: PT Sans, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;
    padding-left: 0;  
    margin: 0;        
}

.service .wrapper > p {
    padding-bottom: 64px;   
    font-family: PT Sans, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;     
}

.service-buttons {
    display: flex;
    flex-direction: column; 
    margin-right: 80px; 
    position: relative;    
}
.service-buttons::after{
    position: absolute;
    content: "";
    z-index: 70;
    top: -45px;
    left: 230px;
    width: 15px;
    height: 284px;
    background-image: url(../img/shadow.png); 
    background-repeat: no-repeat;    
    background-position: 0 0;
}

.delivery {
    display: block;
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
    background-position: 100% 41px;   
    flex-grow: 1;    
    min-height: 308px;  
    
}


.garanty {
    display: none;
    background-image: url("../img/guarantee.png");
    background-repeat: no-repeat;  
    background-position: 100% 41px;   
    flex-grow: 1; 
    min-height: 308px; 
}   

.credit {
    display: none;
    background-image: url("../img/credit.jpg");
    background-repeat: no-repeat;   
    background-position: 100% 41px;   
    flex-grow: 1; 
    min-height: 308px;    
}

.credit .button {
    width: 195px;
    height: 38px;
}

.service__back {
    width: 240px;
    height: 61px;
    background-color: #32425c;
    color: #fff;    
    border: none;
    padding-left: 22px;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;    
    cursor: pointer;  
}

.service__active {
    background-color: #fff;
    color: #32425c;
    box-shadow: 0px 1px 0 0 #ffffff, inset 0px 1px 0 0 #ffffff;
}

.service__back:not(.service__active) {
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
}

.service__back:not(.service__active):hover {
    background-color: #293449;
}



.offers {
    display: flex;   
    justify-content: space-between;   
    font-size: 14px;     
    margin-top: 59px;
    margin-bottom: 33px; 
    color: #ffffff; 
}

.offers__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
}

.offers__column:first-of-type{
    flex-direction: row;
    flex-wrap: wrap;    
   
    width: 620px;
    justify-content: space-between;
}

.offers__category {   
    width: 300px;
    height: 123px; 
    margin-bottom: 20px;
    padding: 21px 23px;   
}

.offers h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 15px;
}

.offers__category-button {
    display: block;
    width: 135px;
    min-height: 38px;    
    background-color: rgba(0,0,0, 0.1);
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0 10px 5px;
    color: #ffffff;
    border-radius: 3px;
}   

.offers__category-button:hover {
    background-color: rgba(0,0,0, 0.2);
}

.offers__category-button:active {
    background-color: rgba(0,0,0, 0.3);
}

.offers__category-carousel {
    position: relative;
    background-color: #685c53;    
    background-repeat: no-repeat;
    width: 620px;
    height: 266px;
    margin-bottom: 20px;    
    color: #ffffff;
    font-size: 18px;
    padding-left: 25px;  
}

.start {
    background-image: url(../img/carousel-1.png);
}

.end {
    background-image: url(../img/carousel-2.jpg);
}

.dot-1 {
    position: absolute;
    display: block; 
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 2px solid #fff; 
    border-radius: 50%; 
    bottom: 36px;
    left: 295px; 
    z-index: 20; 
    cursor: pointer;
}

.dot-2{
    position: absolute;
    display: block; 
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 2px solid #fff; 
    border-radius: 50%; 
    bottom: 36px;
    left: 317px;  
    z-index: 20; 
    cursor: pointer;    
}

.dot-active {
    background-color: #ee3643;
}

.offers__category-carousel .arrowleft {
    position: absolute;
    display: block;  
    background-image: url(../img/icon-left.png);
    width: 22px;
    height: 40px;
    top: 114px;
    left: 24px; 
    z-index: 20;
    cursor: pointer;
}

.offers__category-carousel .arrowright  {
    position: absolute;
    display: block; 
    background-image: url(../img/icon-right.png);
    width: 22px;
    height: 40px;
    top: 114px;
    left: 577px;
    z-index: 20;
    cursor: pointer;
}

.offers__category-carousel h2 {
    font-size: 36px;     
    margin: 0;
    margin-top: 20px; 
    margin-bottom: 3px;
    text-transform: uppercase;  
}

.offers__category-carousel .button {
    width: 195px;
    height: 38px;    
    margin-top: 124px;    
}

.offers__category:nth-of-type(1) {
    position: relative;
    background-color: #ffbf47;
    background-image: url(../img/icon-1.svg);    
    background-repeat: no-repeat;  
    background-position: 213px 31px;    
}

.offers .new::after {
    position: absolute;
    top: 0;
    right: 0;    
    width: 60px;
    height: 59px;    
    content: "";
    z-index: 20;
    background: url("../img/new-flag.png") no-repeat 0 0;
  }  

.offers__category:nth-of-type(2) {
    background-color: #3bbce3;
    background-image: url(../img/icon-2.svg);    
    background-repeat: no-repeat;  
    background-position: 197px 33px;  
}

.offers__column:nth-of-type(2) .offers__category:nth-of-type(1) {
    background-color: #dc91d8;
    background-image: url(../img/icon-3.svg);    
    background-repeat: no-repeat;  
    background-position: 191px 31px;  
}

.offers__column:nth-of-type(2)  .offers__category:nth-of-type(2) {
    background-color: #8ed78f;
    width: 300px;
    height: 123px;
    margin-bottom: 20px;
    padding: 21px 23px; 
    background-image: url(../img/icon-4.svg);    
    background-repeat: no-repeat;  
    background-position: 196px 26px;    
}

.offers__column:nth-of-type(2) .offers__category:nth-of-type(3) {
    background-color: #ffbf47;
    width: 300px;
    height: 123px;
    margin-bottom: 20px;
    padding: 21px 23px; 
    background-image: url(../img/icon-5.svg);    
    background-repeat: no-repeat;  
    background-position: 191px 32px;    
}


.popular-goods, .popular-brands  {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    background-color: #f9f5f0; 
    min-height: 89px;
    padding-left: 30px;
    padding-right: 24px;
    margin-bottom: 21px;
    }

.popular-goods h2, .popular-brands h2 {
    font-size: 30px;   
    text-transform: uppercase;
    color: #32425c;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
}

.popular-goods .button, .popular-brands .button{
    width: 253px;
    height: 38px;
}



.items {
    font-family: PT Sans, sans-serif;
    font-size: 17px;
    font-weight: bold;  
}

.items__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;   
    padding: 0;    
}

.items__list-item {
    position: relative;
    display: flex;
    flex-direction: column;          
    border: 1px solid #e5e5e5;
    width: 220px;
    height: 318px;
    text-align: center;    
    margin-bottom: 21px;     
}

.items__list-item img {  
    order: -1;
    margin-bottom: 9px;
}

.items h3{
    font-size: 18px;   
    margin: 0px;
    margin-bottom: 10px;
}

.hidden {
    min-height: 20px;   
}

 .new-item::after {
    position: absolute;
    top: -1px;
    right: -1px;    
    width: 60px;
    height: 60px;    
    content: "";

    z-index: 20;
    background: url("../img/new-flag.png") no-repeat 0 0;
  }  

.items__list-item-actions {   
  display: none; 
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 164px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255, 1);
  z-index: 10;  
}

.items__list-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.items__list-item:hover .items__list-item-actions{
    display: block;
}

.items__list-item-actions .buy,
.items__list-item-actions .bookmark {
  position: relative;
  display: block;
  width: 135px;
  height: 38px;
  margin: 0 auto;
  margin-bottom: 7px;  
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315; 
  border-bottom-color: #367315;
  border-radius:3px;  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;  
  line-height: 1.29;
  text-decoration: none;
  text-transform: uppercase;
}

.items__list-item-actions .buy {
    padding: 11px 45px 14px 49px;
}

.items__list-item-actions .bookmark {
    padding: 7px 0;
}

.items__list-item-actions .buy svg {
    fill: #ffffff; 
    opacity: 0.3; 
    position: absolute; 
    top: 11px;
    left: 12px;
    width: 15px;
    height: 15px;       
}


.items__list-item-actions .buy:hover
 {
    background-color: #5fbb2d;    
}

.items__list-item-actions .buy:hover svg {
    opacity: 1;
}


.items__list-item-actions .buy:active {
    background-color: #518534;
    box-shadow: none;
}

.items__list-item-actions .bookmark:hover {
       border: solid 3px #32425c;
}

.items__list-item-actions .bookmark:active {
    opacity: 0.3;
    border: solid 3px #32425c;
}


.items__list-item-actions .bookmark {
    color: #32425c;
    background: white;
    border: 3px solid #63a63e;
    border-bottom-color: #63a63e;
    box-shadow: none;
}


.linethrough {
    text-decoration: line-through;
    color: #999999;
    min-height: 20px;   
}

.item-button {
  position: relative;
  width: 141px;
  height: 38px;
  margin: 8px 36px 21px 41px;
  margin-bottom: 21px;
  padding: 10px 30px;  
  color: white;
  background: #ee3643;
  border-radius: 3px;
 }

.item-button:after {
    content: "";
    
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;
    
    border: 19px solid white;
    border-left-color: #ee3643;
  }


.contacts .button {  
    width: 300px;
    height: 38px;   
}

.about .button {   
    width: 220px;
    height: 38px;
    border-radius: 4px; 
}


.footer-up{
    background-color:#32425c;
    color: #ffffff;
    line-height: 1.33; 
    font-weight: 400;
    font-style: normal;
    padding-bottom: 21px;
}

.footer-up__logo {
    width: 220px;
    height: 68px;
    background-color: #ee3643;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    display: inline-block;
    padding: 20px 41px 25px;
}

.footer-up__logo:hover{
    background-color: #ca2c37;
}

.footer-up__logo:active{
    background-color: #ba2732;
}

.footer-down {  
    background-color:#293449;  
    min-height: 107px;
    padding-top: 39px;   
    color: #ffffff;
    font-size: 16px;
}


.footer-nav {
    list-style: none;
    padding: 8px;
    padding-left: 0;  
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
 
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-nav a:active {
    text-decoration: none;
    opacity: 0.5;
}



.container-bottom .footer-nav{
    margin: 10px 0 0;
}

.footer-nav li:not(:first-child){
    margin-left: 60px;
}


.footer-up .container-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;    
}

.footer-up .container-bottom {
    display: flex;
    justify-content: space-between; 
  
}

.footer-down .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.social__list {
    display: flex;
    justify-content: space-around;  
    list-style: none;
    margin: 0;   
    padding-left: 0px;
}

.social__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #212a3a;
    border-radius: 40px;
    margin-right: 5px;
}

.social__list a:hover,
.social__list a:active {
    background-color: #ee3643;
}

.copyright {
    display: flex;
    justify-content: space-between;  
}

.copyright div:not(:last-child) {
        margin-right: 53px;
}

.wheat {     
    line-height: 1.333;
    color: #e4be7b;
}

.copyright .wheat:hover {
    text-decoration: underline;
} 

.copyright .wheat:active {
    text-decoration: none;
    color: #ee3643;
}

@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }
  
  
.modal {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-feedback {      
    top: 10vh;
    left: 50vw;    
    margin-left: -310px;
    font-weight: bold;    
    display: none;
    width: 620px;
    min-height: 430px;       
    border-top: 7px solid #ee3643;
    z-index: 1000;
}

.modal-map {
    top: 10vh;
    left: 50vw;
    margin-left: -470px;     
    display: none;   
    width: 940px;
    height: 446.2px;
    z-index: 1000;    
}

.contacts iframe {
    position: relative;
    z-index: 2;  
    border: none;
  }

 .map-link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;  
    margin: 0;
  }

.modal-feedback-form { 
    position: relative;      
 }

 .modal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 74px 80px 37px;     
 }

.modal-feedback input {  
    outline: none; 
    width: 220px;   
    font-size: 13px;
    line-height: 1;
    margin-bottom: 22px;
    padding: 9px 15px 8px 15px;
    border: solid 2px #dee3e4;
    border-radius: 3px;
    background-color: #ffffff;
    font-family: "PT Sans", sans-serif;
}

.modal-feedback textarea { 
    outline: none;  
    padding: 13px 16px;    
    width: 460px;
    height: 114px ;
    border: solid 2px #dee3e4;
    border-radius: 3px;
    background-color: #ffffff;
    font-family: "PT Sans", sans-serif;
    resize: vertical;
}


.modal-feedback input:hover, .modal-feedback textarea:hover {
    border: solid 2px #b5b5b5;
}

.modal-feedback input:focus, .modal-feedback textarea:focus {
    border: solid 2px #ee3643;
}

.modal-feedback-form span {
    display: inline-block;
    margin-bottom: 13px;
}

.modal-feedback input::placeholder , .modal-feedback textarea::placeholder{
    font-size: 13px;
    font-family: "PT Sans", sans-serif;
}

.modal-feedback .button {
    width: 460px;
    height: 38px;
}

.modal-basket {
    display: none;
    top: 10vh;
    left: 50vw;    
    margin-left: -310px;
    width: 620px;
    height: 282px;
    background-color: #fff;
    background-image: url(../img/modal-check.svg);
    background-repeat: no-repeat;
    background-position: 87px 81px;
    border-top: 7px solid #ee3643;
    z-index: 1000;
}

.modal-basket div:first-of-type{
    padding: 68px 125px 68px 179px;  
}

.modal-basket h3 {
    font-size: 27px;
    text-align: center;   
}

.modal-basket .button { 
    width: 200px;
    height: 38px;
}

.modal-basket .button:nth-child(2) {
    background-color: #fff;
    color: #000;
    margin-left: 20px;
}

.modal-show {
    display: block;
    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
  }
  
.buttonback {
    background-color: #f4f4f4;
    width: 100%;
    padding: 37px 80px;
    text-align: center;   
}


/* Каталог */

.user-menu a {
    text-decoration: underline;
    font-size: 16px;
    line-height: 1.13;
    color: #32425c;
}

.loged {
    position: relative;  
    background-color: #fff;    
    width: 299px;
    height: 45px;       
    display: inline-block;
    vertical-align: middle;   
   
    margin-left: 51px;   
    padding: 12px 65px 12px 47px;   
}

.loged a {
    font-size: 21px;
    line-height: 1;
    color:  #000000; 
    text-decoration: none;
}

.loged .icon {
    fill: #c5c5c5;  
}

.profile .icon{
    top: 13px;
    left: 13px;
}

.logout .icon {
    top: 14px;
    right: 10px;
}

.profile:hover .icon, .logout:hover .icon {
    fill: #32425C;
}

.profile:active .icon, .logout:active .icon {
    fill: rgba(0, 0, 0, 0.3)
}

.profile:active span{
    color: rgba(0, 0, 0, 0.3);
}

.information {   
    margin-top: 6px;  
    padding-left: 69px; 
}

.myorders:hover, .cabinet:hover {
    color: #ee3643;
}

.myorders:active, .cabinet:active {
    color: rgba(50, 66, 92, 0.3);
}


.point {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;  
    margin-left: 10px;   
    width: 4px;
    height: 5px;
    background-color: #32425c;
}

.cabinet {
    padding-left: 9px;
}

.breadcrumbles {
    list-style: none;
    font-family: PT Sans, sans-serif;
    font-size: 13px;  
    text-transform: uppercase;  
    margin: 0;
    padding: 0;
    margin: 25px 0 17px;
    display: flex;  
}

.breadcrumbles-home {
    width: 14px; 
    height: 12px;
    background-image: url(../img/icon-home.svg);  
    background-repeat: no-repeat;  
}

.breadcrumbles li {
    position: relative;
    margin-right: 40px;
}

.breadcrumbles li:not(:last-of-type)::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 12px;   
    top: -1px;
    background-image: url(../img/icon-right-small.png);
}

.breadcrumbles li:first-child::after {  
    left: 29px;
}

.breadcrumbles li:nth-child(2)::after {
    left: 68px;
}

.breadcrumbles li:nth-child(3)::after {
left: 96px;
}

.page-title {
  font-size: 30px;
  line-height: 1;
  margin: 0;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
   }

.filters {
    font-family: "PT Sans", sans-serif; 
    font-size: 17px; 
    text-transform: uppercase;  
    width: 220px;   
    display: flex;
    flex-direction: column;
}

.filters__range {
    margin-bottom: 25px;
}

.range-controls {
    position: relative;
    width: 220px;
    height: 80px;
    margin-bottom: 9px;  
    padding-top: 39px; 
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f7f3ec;    
    border-radius: 3px;    
  }

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
  }
  
  .range-controls .bar {
    width: 70%;
    height: 2px;  
    background: #00ca74;
  }

  .range-controls .toggle {
    width: 20px;
    height: 20px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;

    position: absolute;
    top: 31px;
    left: 0;
    cursor: pointer;
  }
  
  .range-controls .toggle-min {
    left: 20px;
  }
  
  .range-controls .toggle-max {
    left: 140px;
  }

  .price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price-controls input {   
    font-size: 17px;
    text-align: center;
    color: #283136;
    width: 95px;
    height: 38px;
    padding: 8px 10px;
    background-color: #f7f3ec;
    border: none;
    border-radius: 3px;    
  } 
  
  
.container-right{
    width: 700px;
    min-height: 1202px;
}

.filters__filter {
    height: 38px;  
    background-color: #f7f3ec;
    font-size: 13px; 
    line-height: 1;
    text-transform: uppercase;
    padding: 12px 19px; 
    margin-bottom: 18px;
}

.filters h2, .filters h3, .filters p {
    margin: 0;
}

.filters h3 {
    display: block;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 21px;
}

.filters .line {
   width: 100%;
   border: 1px solid #e5e5e5;
   border-bottom: 0;
   margin: 0;
   margin-bottom: 23px;
}



.filters__brand, .filters__supply {
    font-size: 15px; 
   
}

.filters__brand ul, .filters__supply ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filters__brand li, .filters__supply li {
    position: relative;  
    margin-bottom: 23px;
    padding-left: 35px; 
}

.filters__brand label, .filters__supply label {
    cursor: pointer;
}


.filters__supply h3 {
    letter-spacing: 0.17px;
}


.filters__brand input[type="checkbox"] { 
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;    
    margin: -1px; 
    font-size: 0;   
}

.filters__brand input[type="checkbox"] ~ label::before { 
    content: "";
    position: absolute;   
    left: 0;  
    top: -2px;     
    width: 23px;
    height: 23px;
    border: 2px solid #c5c5c5;
    border-radius: 3px;    
    cursor: pointer;
}

.filters__brand input[type="checkbox"]:checked ~ label::before {
    content: "";       
    border: none;
    width: 27px;
    height: 23px;
    background: url(../img/checkbox-on.png) left center no-repeat;     
} 

.filters__brand input[type="checkbox"] ~ label:hover::before, .filters__supply input[type="radio"] ~ label:hover::before  {
    border-color: #b5b5b5;
}

.filters__brand input[type="checkbox"] ~ label:active::before, .filters__supply input[type="radio"] ~ label:active::before  {
    opacity: 0.3;
}

.filters__brand input[type="checkbox"]:checked  ~ label:hover::before, .filters__supply input[type="radio"]:checked ~ label:hover::before  {
    border-color: #b5b5b5;
}

.filters__brand input[type="checkbox"]:checked ~ label:active::before, .filters__supply input[type="radio"]:checked ~ label:active::before  {
    opacity: 0.3;
}

.filters__supply input[type="radio"] {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;    
    margin: -1px; 
    font-size: 0;     
}

.filters__supply input[type="radio"] ~ label::before {  
    content: "";
    position: absolute;   
    left: 0;  
    top: -4x;       
    border: none;
    width: 25px;
    height: 25px;
    border: 4px solid #c5c5c5;    
    border-radius: 50%;
    cursor: pointer;
}

.filters__supply input[type="radio"]:checked ~ label::before {   
    content: "";
    border: none;
    width: 25px;
    height: 25px;  
    background: url(../img/radio-on.svg) left center no-repeat;
}

.sorting {
    font-family: "PT Sans", sans-serif; 
    height: 38px;    
    font-size: 13px; 
    text-transform: uppercase;
    background-color: #f7f3ec;
    display: flex;    
   
    justify-content: space-between;
    padding: 10px 19px; 
    margin-bottom: 21px;
    line-height: 1.38;
   
}
.sorting__list {   
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;    
    justify-content: space-between;   
    flex-wrap: wrap;
    width: 434px;    
}

.sort-list:not(.sort-list-active) {
    opacity: 0.3;
}
.sort-list:hover{
    opacity: 1;
}

.sort-list:first-of-type {
    margin-right: 15px;
} 

.sort-list-active {
    fill: #ee3643;
}

.by-list:not(.by-list-active) {
    border-bottom: 1px dashed #ee3643;
    color: rgba(0, 0, 0, 0.3);
}

.by-list-active{
    color: red;
}

.by-list:hover {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}


.drill-header {     
    background-color: #f2f6f8;
    padding-left: 28px;
    padding-top: 30px;
    padding-bottom:30px;
    margin-bottom: 20px;
    font-weight: 400;
    font-style: normal;
}



.pagination {
    font-family: PT Sans, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    list-style: none;
    display: flex;  
    margin: 0; 
    margin-top: 31px; 
    padding: 0;     
}

.pagination a {   
    display: inline-block;  
    vertical-align: middle;
    width: 38px;
    height: 38px; 
    border-radius: 4px;
    margin-right: 10px;
    padding: 12px 14px 15px 15px;
    border: solid 1px #e5e5e5;
    background-color: #ffffff;
}

.pagination a:hover {
    border: solid 1px #bdc6ca;
}

.pagination a:active {
    border: solid 1px #ee3643;
}

.pagination a.following {
    width: 140px; 
    text-align: center;   
}

.pagination .active-page{
    background-color: red;
    color: #fff;    
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}


.catalog-about {
    font-family: PT Sans, sans-serif;
    font-size: 13px;
    line-height: 1.85;
    background-color: #f4f7f9;
    padding-top: 67px;
    padding-bottom: 73px;
}

.catalog-about h2 {
    font-size: 30px;
    margin: 0;    
    padding: 0;
    font-family: "Cuprum";
    font-weight: normal;
    text-transform: uppercase;
}
