/* cuprum-regular - latin */
@font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cuprum-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Cuprum Regular'), local('Cuprum-Regular'),
         url('../fonts/cuprum-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cuprum-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cuprum-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cuprum-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cuprum-v11-latin-regular.svg#Cuprum') format('svg'); /* Legacy iOS */
  }
  /* cuprum-italic - latin */
  @font-face {
    font-family: 'Cuprum';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/cuprum-v11-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Cuprum Italic'), local('Cuprum-Italic'),
         url('../fonts/cuprum-v11-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cuprum-v11-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cuprum-v11-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cuprum-v11-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cuprum-v11-latin-italic.svg#Cuprum') format('svg'); /* Legacy iOS */
  }
  /* cuprum-700 - latin */
  @font-face {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/cuprum-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Cuprum Bold'), local('Cuprum-Bold'),
         url('../fonts/cuprum-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/cuprum-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/cuprum-v11-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/cuprum-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/cuprum-v11-latin-700.svg#Cuprum') format('svg'); /* Legacy iOS */
  }

  /* pt-sans-regular - latin */
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('PT Sans'), local('PTSans-Regular'),
         url('../fonts/pt-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-sans-v11-latin-regular.svg#PTSans') format('svg'); /* Legacy iOS */
  }
  /* pt-sans-700 - latin */
  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-sans-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: local('PT Sans Bold'), local('PTSans-Bold'),
         url('../fonts/pt-sans-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/pt-sans-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/pt-sans-v11-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/pt-sans-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/pt-sans-v11-latin-700.svg#PTSans') format('svg'); /* Legacy iOS */
  }

body {
    background-color: #fff;    
    font-family: Cuprum, sans-serif;
    font-weight: normal;
    font-stretch: normal;   
    letter-spacing: normal;  
    text-align: left; 
    font-size: 18px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;    
  }

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.header-up {
    background-color:#293449;
}

#page-start {
    background-color: red;
}

.footer-up{
    background-color:#32425c;
}

.footer-down {
    background-color:#293449;

}

.header-up a {
    color: #ffffff;  
    font-size: 17px;  
    line-height: 1.06;
    
  }

.info {
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;     
}

.phone-number {
   color: #ee3643;
  font-size: 21px;
  line-height: 21px;  
}

.adress{   
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #32425c;
}

.header-down ul{
    list-style: none;
}

.button {
    text-transform: uppercase;
    background-color: #ee3643;
    color: #ffffff;
    font-size: 14px;
    padding: 14px;
}

.login, .register {
    font-size: 21px;
    line-height: 21px;
    color:  #000000;
}

.login::after{   
    width: 20px;
    height: 17px;
    content: url("../img/icon-login.svg");  
}

.login::before{   
    width: 20px;
    height: 17px;
    content: url("../img/icon-user.svg");
  
}
.site-navigation{
    font-size: 17px;
    line-height: 17px;    
    background-color: #32425c;  
}



.user-menu a {
    text-decoration: underline;
    font-size: 16px;
    line-height: 1.13;
}

.site-navigation ul{
    list-style: none;
}

.site-navigation a{
    color: #ffffff;
}

.breadcrumbles {
    list-style: none;
    font-family: PT Sans, sans-serif;
    font-size: 13px;    
}

.index-columns h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;    
    font-stretch: normal;
    font-style: normal;   
    letter-spacing: normal;
}

.index-columns p {
    font-family: PT Sans, sans-serif;
    font-size: 13px;    
}

.page-title {
  font-size: 30px;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;
  font-weight: normal;
}

.filters {
    font-family: PT Sans, sans-serif; 
    font-size: 17px; 
    text-transform: uppercase;
}

.filters h2 {
    font-size: 17px;
}

.filters__brand, .filters__supply {
    font-size: 15px;
}

.sorting {
    font-family: PT Sans, sans-serif; 
    font-size: 13px; 
    text-transform: uppercase;
}

.sorting__list {
    list-style: none;
}

.offers {
    font-size: 14px;
}

.offers h2 {
    font-size: 24px;
}

.carousel {
    background-image: url(../img/carousel.png);
    background-repeat: no-repeat;
    width: 500px;
    height: 300px;
    color: #ffffff;
    font-size: 18px;
}

.carousel h2 {
    font-size: 36px;
}

.search input[type="text"]{
    background-color: #293449;
}

.search input[type="text"]::placeholder{
  color: #ffffff;
   font-size: 17px;
  line-height: 1.06;
}

input[type="checkbox"] {    
    -webkit-appearance: none;
    border: none;
    width: 25px;
    height: 25px;
    background: url(../img/checkbox-off.svg) left center no-repeat;    
    background-size: 20px; 
}

input[type="checkbox"]:checked {    
    -webkit-appearance: none;
    border: none;
    width: 25px;
    height: 25px;
    background: url(../img/checkbox-on.png) left center no-repeat;    
    background-size: 20px; 
}

input[type="radio"] {    
    -webkit-appearance: none;
    border: none;
    width: 25px;
    height: 25px;
    background: url(../img/radio-off.svg) left center no-repeat;    
    background-size: 20px; 
}

input[type="radio"]:checked {
    background: url(../img/radio-on.svg) left center no-repeat;
    width: 25px;
    height: 25px;
    background-size: 20px; 
    -webkit-appearance: none;
    border: none;
}

.sort-list-down:before{
    content: url(../img/icon-down-dir.svg);
}

.sort-list-up:before {
    content: url(../img/icon-up-dir.svg);
}

.by-list-active{
    color: red;
}

.active-page{
    background-color: red;
    color: #fff;    
}



.items {
    font-family: PT Sans, sans-serif;
    font-size: 17px;
    font-weight: bold;  
}

.items h3{
    font-size: 18px;
}

.items__list {
    list-style: none;
}

.catalog {
    font-family: PT Sans, sans-serif;
    font-size: 17px;
    font-weight: bold;  
}

.catalog h3 {
    font-size: 18px;
}

.catalog__list{
    list-style: none;
}

.pagination {
    font-family: PT Sans, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.pagination ul {
    list-style: none;
}

.catalog-about {
    font-family: PT Sans, sans-serif;
    font-size: 13px;
    line-height: 1.85;
}

.catalog-about h2 {
    font-weight: normal;
    text-transform: uppercase;
}

.about ul {
    list-style: none;
    font-weight: bold;
    font-size: 18px;
}

.popular-brands__list {
list-style: none;
}

.service p {
    font-family: PT Sans, sans-serif;
    font-size: 13px;
    font-weight: normal;
}

.search label:before{
    content: url(../img/icon-search.svg);    
}

.category:nth-of-type(1), .category:nth-of-type(5) {
    background-color: orange;
}

.category:nth-of-type(2) {
    background-color: lightblue;
}

.category:nth-of-type(3) {
    background-color: plum;
}

.category:nth-of-type(4) {
    background-color: greenyellow;
}
.footer-up {
    color: #ffffff;
}

.footer-nav {
    list-style: none;
}

.wheat {     
    line-height: 1.333;
    color: #e4be7b;
}

.footer-down {
    color: #ffffff;
    font-size: 16px;
}

.social__list {
    list-style: none;
}

.modal-login {
    font-weight: bold;
}

.modal-login input::placeholder , .modal-login textarea::placeholder{
    font-size: 13px;
}